header {
    text-align: center;
    font: normal 30px arial;
    margin: 15px 15px;
    color: white;
}

section {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

#msg {
    font: normal 20px arial;
    padding: 20px;
}

footer {
    text-align: center;
    color: white;
}